# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.venv/
__pycache__/
.pytest_cache/

# Excel temporary lock files
~$*.xlsx
**/**/__pycache__

.claude
wip.md

vectorstore

.env
.coverage